body{
    background-color: #474E68;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: black;
    border-width: 5px;
    width: 50px;
}
img{
    height: 200px;
    border-radius: 90px;
}